:root {
    --theme-color-1: #ff560d;
    --theme-color-2: #ffb32e;
    --menu-speed: 0.75s;
  }

 body {
    font-family: 'Century Gothic','Proxima Nova', 'Roboto', Georgia;
    margin: 0;

 }
 
 header {
    color: var(--theme-color-1);
    padding: 30px 100px;
    margin: 0;
    height: 150px;
    background: #fff;
 }

 header h1{
   text-align: center;
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: 1rem;
 }
 header h2{
  margin-top: 0;
}

 header img, .banner img{
    position: absolute;
    height: 80px;
    width: 80px;
    z-index: 2;
    top:30px;
    right:0px;
    padding: 30px 100px;
 }

.cover{
    height: 100%;
    width: 100%;
    background: url('../images/cover.gif') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.button{
   font-size: 2rem;
   border: none;
   background: var(--theme-color-1);
   color: #fff;
   padding: 1.5rem 2rem;
   cursor:pointer;
   border-radius: 20px;
   box-shadow: 3px 3px 10px var(--theme-color-1);
   position: absolute;
   text-align: center;
   font-weight: bold;
}
.learn-more-btn{
    margin: auto;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.8rem;
    margin-top: 5px;
    padding: 1rem 2rem;
    border-radius: 10px;
 }
 .button a{
    color: #fff;
    text-decoration: none;
  }
.back-button{
   position: absolute;
   z-index: 2;
   top:0;
   left:0;
   padding: 50px;
}
.back-button img{
   cursor:pointer;
   height: 50px;
}

.banner{
   margin:0;
   width: 100%;
   height: 450px;
   position: relative;
   animation-name: fadeDown;
   animation-duration: 1000ms;
   transition: none;
 }
 @keyframes fadeDown{
   0% {
      transform: translateY(-100px);
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 .body-container{
   animation-name: fadeUp;
   animation-duration: 1000ms;
   transition: none;
 }
 @keyframes fadeUp{
   0% {
      transform: translateY(100px);
      opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }

 .fade2{
   animation-name: fadeIn2;
   animation-duration: 2000ms;
   transition: none;
 }
 @keyframes fadeIn2{
   0% {
     opacity: 0;
   }
   50% {
      opacity: 0;
    }
   100% {
     opacity: 1;
   }
 }

.project-title{
   color: black;
   font-weight: bold;
   font-size: 2.5rem;
   margin-bottom: 5px;
}

.project-subtitle{
   margin-top: 0;
   margin-bottom: 0;
   color: black;
}

.number-box-container{
   margin-top: 0;
   display: flex;
   width: 100%;
   justify-content: space-around;
}

.number-box{
   text-align: center;
}

.number{
   color: var(--theme-color-2);
   font-weight: bold;
   font-size: 3rem;
   margin: 0;
}

.number-title{
   color: black;
   font-weight: bold;
   font-size: 1.5rem;
}

.main-content{
   padding: 100px;
   margin-bottom: 100px;
}

.bottom-opacity{
   position: fixed;
   width: 100%;
   background-image: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
   height: 200px;
   z-index: 2;
   bottom: 0px;
 }

 .bottom-opacity .button2{
   position: absolute;
   bottom: 30px;
   right: 30px;
 }

 #bottom-donate-button{
    color: var(--theme-color-1);
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
 }
 #bottom-donate-button p{
   margin: auto;
   padding-top: 1rem;
   font-size: 2rem;
   font-weight: bold;
 }

 .bottom-btn{
   position: relative;
   margin: auto;
   width: fit-content;
   padding: 1.5rem 5rem;
 }
 
 .center{
   position: absolute;
   text-align: center;
   width: 70%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   animation-name: growIn;
   animation-duration: 1000ms;
 }

 @keyframes growIn{
   0% {
     opacity: 0;
   }
   100% {     
     opacity: 1;
   }
 }